#artificer_image {
    content: url(/Classes/Artificer/assets/Artificer2.png);
}

#barbarian_image {
    content: url(/Classes/Barbarian/assets/Barbarian2.png);
}

#bard_image {
    content: url(/Classes/Bard/assets/Bard2.jpeg);
}

#cleric_image {
    content: url(/Classes/Cleric/assets/Cleric2.png);
}

#druid_image {
    content: url(/Classes/Druid/assets/Druid2.jpeg);
}

#fighter_image {
    content: url(/Classes/Fighter/assets/Fighter2.png);
}

#monk_image {
    content: url(/Classes/Monk/assets/Monk2.png);
}

#paladin_image {
    content: url(/Classes/Paladin/assets/Paladin2.png);
}

#ranger_image {
    content: url(/Classes/Ranger/assets/Ranger2.png);
}

#rogue_image {
    content: url(/Classes/Rogue/assets/Rogue2.jpeg);
}

#sorcerer_image {
    content: url(/Classes/Sorcerer/assets/Sorcerer2.png);
}

#warlock_image {
    content: url(/Classes/Warlock/assets/Warlock2.jpeg);
}

#wizard_image {
    content: url(/Classes/Wizard/assets/Wizard2.jpeg);
}


#alchemist_image {
    content: url(/Classes/Artificer/assets/Alchemist2.jpeg);
}

#armorer_image {
    content: url(/Classes/Artificer/assets/Armorer2.jpeg);
}

#artillerist_image {
    content: url(/Classes/Artificer/assets/Artillerist2.png);
}

#forge_adept_image {
    content: url(/Classes/Artificer/assets/ForgeAdept2.jpeg);
}